<div class="sidebar-nav">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Generale
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="dati-societari">
                <span class="bi bi-building" aria-hidden="true"></span> Dati Societari
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="partner">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Partner
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="menu">
                <span class="bi bi-book-half" aria-hidden="true"></span> Menù Ristorante
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="dispensa">
                <span class="bi bi-box-seam" aria-hidden="true"></span> Magazzino & Dispensa
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="compilazione-documenti">
                <span class="bi bi-file-earmark-text-fill" aria-hidden="true"></span> Emissione Doc.
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="registro">
                <span class="bi bi-table" aria-hidden="true"></span> Registro A/V
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="calendario">
                <span class="bi bi-calendar3" aria-hidden="true"></span> Calendario
            </NavLink>
        </div>
    </nav>
</div>
